<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="XpanseCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_card</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCardValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaypalFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_paypal</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentPaypalValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseGooglePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_googlepay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentGooglePayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseApplePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_applepay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentApplePayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseCheckoutPayIdFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_azupay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCheckoutPayIdValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseCheckoutPayToFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_payto</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCheckoutPayToValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseCheckoutShiftFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_shift</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCheckoutShiftValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseCheckoutPayByAccountFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_pay_by_account</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCheckoutPayByAccountValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseCheckoutUpiFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_upi</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">XpansePaymentCheckoutUpiValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">XpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">XpanseCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Virtual type for XpanseValueHandlerPool  -->
    <virtualType name="XpansePaymentCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCardConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_card</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentPaypalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentPaypalConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentPaypalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentPaypalConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentPaypalConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_paypal</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentGooglePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentGooglePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentGooglePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentGooglePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentGooglePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_googlepay</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentApplePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentApplePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentApplePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentApplePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentApplePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_applepay</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentCheckoutPayIdValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCheckoutPayIdConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayIdConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCheckoutPayIdConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayIdConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_azupay</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentCheckoutPayToValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCheckoutPayToConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayToConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCheckoutPayToConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayToConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_payto</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentCheckoutShiftValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCheckoutShiftConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutShiftConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCheckoutShiftConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutShiftConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_shift</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentCheckoutPayByAccountValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCheckoutPayByAccountConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayByAccountConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCheckoutPayByAccountConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutPayByAccountConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_pay_by_account</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpansePaymentCheckoutUpiValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">XpansePaymentCheckoutUpiConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutUpiConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">XpansePaymentCheckoutUpiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpansePaymentCheckoutUpiConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_upi</argument>
        </arguments>
    </virtualType>

    <!-- End virtual type for XpanseValueHandlerPool  -->

    <virtualType name="XpanseValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="basic" xsi:type="string">Xpanse\Payment\Gateway\Validator\BasicValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="XpanseCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">XpanseCaptureCommand</item>
                <item name="refund" xsi:type="string">XpanseRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="XpanseCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">XpanseCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Xpanse\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Xpanse\Payment\Gateway\Http\Client\TransactionCapture</argument>
            <argument name="handler" xsi:type="object">PaufurlCaptureHandler</argument>
            <argument name="validator" xsi:type="object">Xpanse\Payment\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpanseCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Xpanse\Payment\Gateway\Request\CustomerDataBuilder</item>
                <item name="payment" xsi:type="string">Xpanse\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="order" xsi:type="string">Xpanse\Payment\Gateway\Request\OrderDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaufurlCaptureHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Xpanse\Payment\Gateway\Response\PaymentDataHandler</item>
                <item name="txn_id" xsi:type="string">Xpanse\Payment\Gateway\Response\TransactionDataHandler</item>
                <item name="additional_data" xsi:type="string">Xpanse\Payment\Gateway\Response\AdditionalDataHandler</item>
                <item name="xpanse_customer_id" xsi:type="string">Xpanse\Payment\Gateway\Response\CustomerDataHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="XpanseRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">XpanseRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Xpanse\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Xpanse\Payment\Gateway\Http\Client\TransactionRefund</argument>
            <argument name="handler" xsi:type="object">PaufurlRefundHandler</argument>
            <argument name="validator" xsi:type="object">Xpanse\Payment\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="XpanseRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refundData" xsi:type="string">Xpanse\Payment\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaufurlRefundHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="refund_transaction_details" xsi:type="string">Xpanse\Payment\Gateway\Response\RefundHandler</item>
                <item name="refund_additional_data" xsi:type="string">RefundAdditionalDataHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RefundAdditionalDataHandler" type="Xpanse\Payment\Gateway\Response\AdditionalDataHandler">
        <arguments>
            <argument name="transactionType" xsi:type="string">refund</argument>
        </arguments>
    </virtualType>

    <type name="Xpanse\Payment\Gateway\Http\Client\TransactionCapture">
        <arguments>
            <argument name="customLogger" xsi:type="object">XpanseLogger</argument>
        </arguments>
    </type>
    <type name="Xpanse\Payment\Gateway\Http\Client\TransactionRefund">
        <arguments>
            <argument name="customLogger" xsi:type="object">XpanseLogger</argument>
        </arguments>
    </type>
    <type name="Xpanse\Payment\Gateway\Request\PaymentDataBuilder">
        <arguments>
            <argument name="customLogger" xsi:type="object">XpanseLogger</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with XpanseConfig -->
    <virtualType name="XpanseLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">Xpanse\Payment\Model\Config</argument>
            <argument name="logger" xsi:type="object">XpanseVirtualLogger</argument>
        </arguments>
    </virtualType>

    <type name="Xpanse\Payment\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Xpanse\Payment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <virtualType name="XpanseVirtualDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/xpanse.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="XpanseVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">XpanseVirtualDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <!--End virtual type for logger-->

    <!-- Virtual type for errorMessageMapper  -->
    <virtualType name="Xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">Xpanse\Payment\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>
    <virtualType name="Xpanse\Payment\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">Xpanse\Payment\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">xpanse_error_mapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="Xpanse\Payment\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <!-- etc/xpanse_error_mapping.xml  -->
            <argument name="fileName" xsi:type="string">xpanse_error_mapping.xml</argument>
        </arguments>
    </virtualType>
    <!-- End virtual type for errorMessageMapper  -->

    <preference for="Magento\Payment\Gateway\Data\Order\OrderAdapter" type="Xpanse\Payment\Gateway\Data\OrderAdapter"/>
</config>
