<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="xpanseCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_card</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCardValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaypalFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_paypal</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentPaypalValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseGooglePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_googlepay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentGooglePayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseApplePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_applepay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentApplePayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseCheckoutPayIdFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_azupay</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCheckoutPayIdValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseCheckoutPayToFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_payto</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCheckoutPayToValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseCheckoutShiftFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_shift</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCheckoutShiftValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseCheckoutPayByAccountFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_pay_by_account</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCheckoutPayByAccountValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseCheckoutUpiFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">xpanse_checkout_upi</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">xpanse\Payment\Block\OrderTransactionInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">xpansePaymentCheckoutUpiValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">xpanseValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">xpanseCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Virtual type for xpanseValueHandlerPool  -->
    <virtualType name="xpansePaymentCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCardConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_card</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentPaypalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentPaypalConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentPaypalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentPaypalConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentPaypalConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_paypal</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentGooglePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentGooglePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentGooglePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentGooglePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentGooglePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_googlepay</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentApplePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentApplePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentApplePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentApplePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentApplePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_applepay</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentCheckoutPayIdValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCheckoutPayIdConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayIdConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCheckoutPayIdConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayIdConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_azupay</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentCheckoutPayToValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCheckoutPayToConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayToConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCheckoutPayToConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayToConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_payto</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentCheckoutShiftValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCheckoutShiftConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutShiftConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCheckoutShiftConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutShiftConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_shift</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentCheckoutPayByAccountValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCheckoutPayByAccountConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayByAccountConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCheckoutPayByAccountConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutPayByAccountConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_pay_by_account</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpansePaymentCheckoutUpiValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">xpansePaymentCheckoutUpiConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutUpiConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">xpansePaymentCheckoutUpiConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpansePaymentCheckoutUpiConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">xpanse_checkout_upi</argument>
        </arguments>
    </virtualType>

    <!-- End virtual type for xpanseValueHandlerPool  -->

    <virtualType name="xpanseValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="basic" xsi:type="string">xpanse\Payment\Gateway\Validator\BasicValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="xpanseCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">xpanseCaptureCommand</item>
                <item name="refund" xsi:type="string">xpanseRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="xpanseCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">xpanseCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">xpanse\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">xpanse\Payment\Gateway\Http\Client\TransactionCapture</argument>
            <argument name="handler" xsi:type="object">PaufurlCaptureHandler</argument>
            <argument name="validator" xsi:type="object">xpanse\Payment\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpanseCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">xpanse\Payment\Gateway\Request\CustomerDataBuilder</item>
                <item name="payment" xsi:type="string">xpanse\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="order" xsi:type="string">xpanse\Payment\Gateway\Request\OrderDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaufurlCaptureHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">xpanse\Payment\Gateway\Response\PaymentDataHandler</item>
                <item name="txn_id" xsi:type="string">xpanse\Payment\Gateway\Response\TransactionDataHandler</item>
                <item name="additional_data" xsi:type="string">xpanse\Payment\Gateway\Response\AdditionalDataHandler</item>
                <item name="xpanse_customer_id" xsi:type="string">xpanse\Payment\Gateway\Response\CustomerDataHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="xpanseRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">xpanseRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">xpanse\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">xpanse\Payment\Gateway\Http\Client\TransactionRefund</argument>
            <argument name="handler" xsi:type="object">PaufurlRefundHandler</argument>
            <argument name="validator" xsi:type="object">xpanse\Payment\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="xpanseRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refundData" xsi:type="string">xpanse\Payment\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaufurlRefundHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="refund_transaction_details" xsi:type="string">xpanse\Payment\Gateway\Response\RefundHandler</item>
                <item name="refund_additional_data" xsi:type="string">RefundAdditionalDataHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="RefundAdditionalDataHandler" type="xpanse\Payment\Gateway\Response\AdditionalDataHandler">
        <arguments>
            <argument name="transactionType" xsi:type="string">refund</argument>
        </arguments>
    </virtualType>

    <type name="xpanse\Payment\Gateway\Http\Client\TransactionCapture">
        <arguments>
            <argument name="customLogger" xsi:type="object">xpanseLogger</argument>
        </arguments>
    </type>
    <type name="xpanse\Payment\Gateway\Http\Client\TransactionRefund">
        <arguments>
            <argument name="customLogger" xsi:type="object">xpanseLogger</argument>
        </arguments>
    </type>
    <type name="xpanse\Payment\Gateway\Request\PaymentDataBuilder">
        <arguments>
            <argument name="customLogger" xsi:type="object">xpanseLogger</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with xpanseConfig -->
    <virtualType name="xpanseLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">xpanse\Payment\Model\Config</argument>
            <argument name="logger" xsi:type="object">xpanseVirtualLogger</argument>
        </arguments>
    </virtualType>

    <type name="xpanse\Payment\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">xpanse\Payment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <virtualType name="xpanseVirtualDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/xpanse.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanseVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">xpanseVirtualDebug</item>
            </argument>
        </arguments>
    </virtualType>
    <!--End virtual type for logger-->

    <!-- Virtual type for errorMessageMapper  -->
    <virtualType name="xpanse\Payment\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">xpanse\Payment\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanse\Payment\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">xpanse\Payment\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">xpanse_error_mapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="xpanse\Payment\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <!-- etc/xpanse_error_mapping.xml  -->
            <argument name="fileName" xsi:type="string">xpanse_error_mapping.xml</argument>
        </arguments>
    </virtualType>
    <!-- End virtual type for errorMessageMapper  -->

    <preference for="Magento\Payment\Gateway\Data\Order\OrderAdapter" type="xpanse\Payment\Gateway\Data\OrderAdapter"/>
</config>
